<%- include('includes/navbar.ejs') %>


<h1>Hey!! This is the admin page</h1>
<form action="/seeall" method="post">
<button class="btn btn-danger my-3 mx-5" type="submit">VIEW ALL MEMEBER DETAILS?</button>
</form>
</body>
</html>