<%- include('includes/navbar.ejs') %>


<p></p>
<h1>This is a blood donation site</h1>
<p></p>
<a href="/form">
    <button class="btn btn-danger mx-2">I Want to DONATE</button>
</a>

<p></p>
<a href="/displaygrp">
    <button class="btn btn-danger mx-2 my-2">I Want some BLOOD</button>
</a>
</body>
</html>