<%- include('includes/navbar.ejs') %>



<h1>This is a blood donation site</h1>
<a href="/form">
    <button class="btn btn-danger mx-2">I Want to DONATE</button>
</a>
<br>
<a href="/displaygrp">
    <button class="btn btn-danger mx-2 my-2">I Want some BLOOD</button>
</a>
</body>
</html>